 
<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" novalidate>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" formControlName="email" name="email"></ion-input>
        </ion-item>
     

        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" formControlName="pass" name="pass"></ion-input>
        </ion-item>
       

        <ion-item>
            <button ion-button round fab-center [disabled]="!myForm.controls.email.valid || !myForm.controls.pass.valid">
                 Login
            </button>
        </ion-item>
    </form>
</ion-content>