<!--
  Generated template for the ReadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Notícia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-card>
      <ion-card-content>
          <ion-card-title>
            {{ item.title }}
          </ion-card-title>
          <p>
            {{ item.body }}
          </p>
      </ion-card-content>    
    </ion-card>
  </div>
</ion-content>
