
<ion-header>
  <ion-navbar>
    <ion-title>Notícias</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of data" (click)="openReadPage({ title: item.title, body:item.body })" icon-start>
         {{ item.title }}
    </button>
  </ion-list>
</ion-content>